.underline {
  text-decoration: underline;
}
body {
  background-color: #333 !important;
  min-height: 100%;
}
.card {
  background-color: #fff;
  box-shadow: 5px 5px 30px #3e414c;
  margin: 50px auto;
  padding: 0 !important;
  position: relative;
}
.card__left {
  padding: 0px 100px 40px;
}
.card__info > span {
  color: #a7afbc;
  font-weight: bold;
}
.card__title {
  color: #464b56;
  display: block;
  line-height: 50px;
  font-size: 45px;
  text-align: center;
}
.card__description {
  color: #a7afbc;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-top: 30px;
}
.card__social_media {
  margin-top: 40px;
}
.card__login {
  border: solid 1px #e3e7ec;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 25px;
  padding: 25px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #464b56;
  font-size: 12px;
  font-weight: bold;
}
.card__login:hover {
  border: solid 1px #fff;
  text-decoration: none;
  box-shadow: 5px 5px 20px #e3e7ec;
  color: #464b56;
}
.card__login:before {
  font: normal normal normal 25px FontAwesome;
  text-decoration: none;
  vertical-align: middle;
}
.card__login--facebook:before {
  content: '\f09a';
  color: #3f5997;
}
.card__login--twitter:before {
  content: '\f099';
  color: #4f99fd;
}
.card__footer {
  margin-top: 20px;
  text-align: center;
}
.card__footer .card__recommendation {
  color: #464b56;
  font-size: 11px;
}
.card__footer .card__link_login_email {
  color: #936;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
}
.card__right {
  background-image: url("../images/image__right.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (max-width: 768px) {
  .card {
    margin: 0;
  }
  .card__left {
    padding: 20px;
  }
  .card__right {
    position: relative;
    height: 200px !important;
    right: 0px;
    top: 0px;
  }
}
@media (max-width: 1024px) {
  .card__right {
    position: relative;
    height: 400px;
    right: 0px;
    top: 0px;
  }
  .card__left {
    width: 100%;
  }
  .card__login span {
    margin-left: 20px;
  }
}
@media (min-width: 1025px) {
  .card__right {
    bottom: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40%;
  }
  .card__left {
    width: 60%;
  }
  .card__left .card__login span {
    margin-left: 30px;
  }
}
