$border__color      = #E3E7EC
$card__color        = #FFFFFF
$description__color = #A7AFBC
$link__color        = #993366
$main__color        = #464B56
$shadow             = #3E414C
$facebook           = #3F5997
$twitter            = #4F99FD
$gray_dark          = #333333

.underline
  text-decoration underline
  
body
  background-color $gray_dark !important
  min-height 100%
  
.card
  background-color $card__color
  box-shadow 5px 5px 30px $shadow
  margin 50px auto
  padding 0 !important
  position relative

.card__left
  padding 0px 100px 40px  
  
.card__info > span 
  color $description__color
  font-weight bold
  
.card__title
  color $main__color
  display block
  line-height 50px
  font-size 45px
  text-align center
  
.card__description
  color $description__color
  font-size 12px
  line-height 20px
  text-align center
  margin-top 30px
  
.card__social_media
  margin-top 40px

.card__login
  border solid 1px $border__color
  cursor pointer
  display inline-block
  margin-bottom 25px
  padding 25px
  text-align center
  width 100%
  text-decoration none
  color $main__color
  font-size 12px
  font-weight bold
  &:hover
    border solid 1px $card__color
    text-decoration none
    box-shadow 5px 5px 20px $border__color
    color $main__color
  &:before
    font normal normal normal 25px FontAwesome
    text-decoration none
    vertical-align middle
  &--facebook:before
    content '\f09a'
    color $facebook
  &--twitter:before 
    content '\f099'
    color $twitter

.card__footer
  margin-top 20px
  text-align center
  
  .card__recommendation
    color $main__color
    font-size 11px
  

  
  .card__link_login_email
    color $link__color
    display block
    text-decoration none
    font-weight bold
    font-size 11px
    
.card__right
    background-image url('../images/image__right.jpg')
    background-size cover
    background-repeat no-repeat
    background-position bottom center

@media (max-width:768px)
  .card 
    margin 0
    
  .card__left
    padding 20px
  
  .card__right
    position relative
    height 200px !important
    right 0px
    top 0px
    
@media (max-width:1024px)
  .card__right
    position relative
    height 400px
    right 0px
    top 0px
  
  .card__left
    width 100%
  
  .card__login
    span
      margin-left 20px
    
@media (min-width:1025px)
  .card__right
    bottom 0px
    position absolute
    right 0px
    top 0px
    width 40%
  
  .card__left
    width 60% 
      
    .card__login
      span
        margin-left 30px
